* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.razorpay-button {
  border: none;
  background: #4099ff;
  color: #fff;
  border-radius: 4px;
  height: 48px;
  width: 300px;
}
