* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.default-razorpay-button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: #4099ff;
  color: #fff;
  border-radius: 4px;
  height: 48px;
  width: 300px;
}

.default-razorpay-button:focus,
.default-razorpay-button:active{
 background: #4099ee;
}

